:8080 {
	root * /www/brettevrist.net

	# enable browser on some directories (duplicate for redirect)
	error /share/keePass/_OLD/* "no." 403
	file_server /share/* browse
	file_server /share browse
	file_server /ios/* browse
	file_server /ios browse

	# serve all other files/directories without browser
	file_server {
		# use precompressed assets (if available)
		precompressed br gzip
	}

	# return errors (404 on missing file)
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}

	# Enable Compression for Output:
	# encode zstd gzip
}

:8081 {
	root * /www/play.brettevrist.net
	file_server
}

# Site Redirects
http://brettevrist.com:8080, http://evri.st:8080 {
	redir https://brettevrist.net{uri} permanent
}
